@use './variables' as *;
@use './mixins' as *;

.about {
    background: $primary-background-color;
    padding: 50px 0;
}

.about-parent {
    @include flexbox(column);

    .about-child {
        padding: 25px 0;

        h3 {
            @include font(1.25rem, 1rem, $secondary-font-color, uppercase, 700, 0.3rem);
        }

        p {
            @include font(1rem, 1.25rem, $secondary-font-color, none, 400);
        }
    }

    .about-me-content {
        @include flexbox(row);

        img {
            width: 300px;
            // border: 2px solid $secondary-font-color;
            margin: 0 25px;
        }

        .about-bio {
            @include flexbox(column);

            p {
                margin: 0 25px;
                padding: 20px 0;
            }
        }
    }
}

.about-me-goals {
    @include flexbox();
    padding: 25px 0;

    .goals-child {
        @include flexbox(column, space-between, center);
        align-content: center;
        padding: 0 25px;
    }

    img {
        width: 50px;
        height: 50px;
        margin: 10px 0;
    }

    h4 {
        margin: 10px 0;
    }
    
    p {
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .about-parent {
        
        .about-child {
            @include flexbox(column);

            img {
                margin: 25px 0;
            }
        }
    }
}

@media (max-width: 692px) {
    .about-parent {

        .about-me-goals {
            @include flexbox(column);
        }
    }
}