@use './variables';
@use './mixins';

html {
    font-size: 20px;
    font-family: 'Raleway', 'Roboto', Arial, sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset, input {
    margin: 0;
    padding: 0;
}

fieldset, input, textarea, button {
    border: 0;
}

span, img, a {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}