@use './variables' as *;
@use './mixins' as *;

.header-and-navbar {
    background-color: $secondary-background-color;
}

.header-parent {
    @include flexbox();
}

.head-icon img {
    width: 50px;
}

.navbar ul {
    @include flexbox();
    
    li {
        padding: 10px;
    
        a {
            @include font(0.8rem, 1rem,$primary-font-color, none, 600);
            word-spacing: 30px;
        }

        &:hover,
        &:focus {
            border-bottom: 2px solid $primary-font-color;
        }
    }


}

.hero {
    background-image: url(../../../assets/images/toronto-skyline.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flexbox();
}

.hero-parent {
    @include flexbox(row, flex-end, center);
}

.hero-photo {
    padding: 0 20px;

    img {
        width: 250px;
        border: 2px solid $primary-font-color;
        border-radius: 50%
    }
}

.hero-text {
    padding: 0 20px;
    @include font();

    h1 {
        @include font(4rem, 3rem, $primary-font-color, none, 300);

        span {
            @include font(6rem, 5rem, $primary-font-color, uppercase, 700);

        }
    }

    h2 {
        @include font(2rem 1.5rem, $primary-font-color, none, 300);
    }

}

@media (max-width: 714px) {
    .hero-parent {
        @include flexbox(column);

        img {
            width: 200px;
            margin: 25px;
        }
    }
}
