@use './variables' as *;
@use './mixins' as *;
@use './keyframes' as *;

.portfolio {
    background: $primary-background-color;
    padding: 50px 0;
}

.portfolio-parent {
    @include flexbox(column);

    .portfolio-title {
        padding: 25px 0;

        h3 {
            @include font(1.25rem, 1rem, $secondary-font-color, uppercase, 700, 0.3rem);

        }
    }

    .portfolio-child {
        @include flexbox(row);
        padding: 25px 0;

        .portfolio-project {
            @include flexbox(column);
            margin: 0 10px;
            width: calc(100% / 3);

            .project-links {
                @include flexbox(row);

                button {
                    background-color: $primary-background-color;
                    border: 2px solid $secondary-font-color;
                    // align-self: center;
                    text-transform: uppercase;
                    margin: 10px;

                    &:hover,
                    &:focus,
                    &:focus-within {
                        box-shadow: 0 0 10px $secondary-font-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width: 849px) {

    .portfolio-parent {

        .portfolio-child {
            @include flexbox(column);

            .portfolio-project {
                width: 70%;
                margin: 10px;
            }
        }
    }
}

@media (max-width: 574px) {

    .portfolio-project {
        width: 100%;
    }
}